cameraSoapService UntitTest/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IService1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://camerasoapdev.azurewebsites.net/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://camerasoapdev.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://camerasoapdev.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CameraSoapService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageByDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImageByDateTime" />
  </wsdl:message>
  <wsdl:message name="IService1_GetImageByDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageByDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLatestImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestImage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLatestImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestImageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookings" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBookings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBooking" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImages" message="tns:IService1_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImagesResponse" message="tns:IService1_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImageById" message="tns:IService1_GetImageById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageByIdResponse" message="tns:IService1_GetImageById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImageByDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetImageByDateTime" message="tns:IService1_GetImageByDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetImageByDateTimeResponse" message="tns:IService1_GetImageByDateTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLatestImage" message="tns:IService1_GetLatestImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLatestImageResponse" message="tns:IService1_GetLatestImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBookings" message="tns:IService1_GetBookings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBookingsResponse" message="tns:IService1_GetBookings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteBooking" message="tns:IService1_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteBookingResponse" message="tns:IService1_DeleteBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveBooking" message="tns:IService1_SaveBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveBookingResponse" message="tns:IService1_SaveBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageByDateTime">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageByDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLatestImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IService1" type="tns:IService1">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IService1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageByDateTime">
      <soap:operation soapAction="http://tempuri.org/IService1/GetImageByDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestImage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLatestImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookings">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBooking">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://camerasoapdev.azurewebsites.net/Service1.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IService1" binding="tns:BasicHttpsBinding_IService1">
      <soap:address location="https://camerasoapdev.azurewebsites.net/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>